.wrapper {
	display: flex;
}
.wrapper:hover .firstline {
	color: #DF5E26;
}
.columnright {
	display: block;
	float: right;
	width: 50%;
	margin-left: 3%;
	margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 50px;
}
.columnleft {
	display: block;
	float: left;
	width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 50px;
}
.firstline {
	color: black;
}
.firstline:hover {
	color: #DF5E26;
}
.highlight {
	color: black:;
}
li {
	margin-top: 100px;
	list-style-type: none;
	text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-family: pilowlava;
	color: 	#DF5E26;
	position: relative;
	top: -20px;
	display: block;
	font-size: 55px;
}
h2 {
	text-align: right;
	font-family: trilby;
	font-size: 30px;
	color: white;
	position: relative;
	top: -100px;
}
body {
	display: block;
	margin: 8px;
	background: rgb(174,238,216);
	background: radial-gradient(circle, rgba(174,238,216,1) 0%, rgba(148,187,233,1) 100%);
	font-family: trilby;
	font-size: 20px;
}

@media (max-width: 500px) {
	h1 {
		font-family: pilowlava;
		font-size: 90px;
		margin-top: 40px;
	}
	h2 {
		font: trilby;
		font-size: 20px;
		margin-top: 40px;
		margin-left: 95px;
		margin-right: 115px;
	}
	body {
		background-color: black;
		font-family: trilby;
		font-size: 12px;
	}
	.columnright {
		color: black;
	}
}